<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.aeidesign.statscalc" android:versionCode="50" android:versionName="0.5.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name="StatsCalcMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/basic_stats" android:configChanges="orientation" android:name="BasicStats"></activity>
        <activity android:label="@string/perm_comb" android:name="PermutationsCombinations"></activity>
        <activity android:label="@string/linear_regression" android:configChanges="orientation" android:name="LinearRegression"></activity>
        <activity android:configChanges="orientation" android:label="@string/distribution_stats" android:name="DistributionStats"></activity>
        <activity android:configChanges="orientation" android:name="DataManagement"></activity>
    </application>
</manifest>