<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.aeidesign.statscalc" android:versionName="0.6.0" android:versionCode="60">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name="StatsCalcMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation" android:name="BasicStats" android:label="@string/descriptive_stats"></activity>
        <activity android:label="@string/perm_comb" android:name="PermutationsCombinations" android:configChanges="orientation"></activity>
        <activity android:label="@string/linear_regression" android:configChanges="orientation" android:name="LinearRegression"></activity>
        <activity android:configChanges="orientation" android:label="@string/distribution_stats" android:name="DistributionStats"></activity>
        <activity android:configChanges="orientation" android:name="DataManagement" android:label="@string/data_management"></activity>
        <activity android:name="Appendix" android:label="@string/help_label" android:configChanges="orientation"></activity>
    </application>
</manifest>